@model IEnumerable<Assignment4Games.Models.Review>

@{
}

<h2>@ViewData["Title"]</h2>
<link href="~/css/site.css" rel="stylesheet" />
<p>

    @if (User.Identity.IsAuthenticated)
    {
        <a id="dt" asp-action="Create">Create New</a>
    }
    </p>
<div id="form">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.GameId)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.GameId)
                        </td>*@

                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <a id="button" class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a>
                        </td>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        @*<td>
                            <a id="button" class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
                        </td>*@
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
